.grow {
    flex-grow: 1;
}
.title {
    display: none;
}
.search {
    width: auto;
    margin-left: 24px;
    width: 100%;
    position: relative;
    margin-left: 0;
    margin-right: 16px;
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.15);
        &:hover{
            background-color: rgba(255, 255, 255, 0.25);
        }
}
.searchIcon {
    height: 100%;
    display: flex;
    padding: 0px 16px;
    position: absolute;
    align-items: center;
    pointer-events: none;
    justify-content: center;
}
.inputRoot {
    color: inherit !important;
}
.inputInput{
    width: 100% !important;
    padding: 8px 8px 8px 0px !important;
    transition: width 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms!important;
    padding-left: calc(1em + 32px)!important;
}
.sectionDesktop {
    display: none;
}

@media (min-width: 960px) {
    .inputInput {
        width: 20ch;
    }
    .sectionDesktop {
        display: flex;
    }
}

@media (min-width: 600px) {
    .title {
        display: block;
    }
    .search{
        width: auto;
        margin-left: 24px;
    
    }
}

