.rec {
  &-loader {
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.4);
    z-index: 99;
    &.hide {
      display: none;
    }
  }
  &-loader-img {
    width: 100px !important;
    height: 100px !important;
    margin: auto;
  }
}
