.MuiPaper-elevation1 {
  box-shadow: none !important;
}
.table {
  min-width: 400px;
  width: 80% !important;
  margin: 20px auto;
  border: 1px solid rgba(224, 224, 224, 1);
  display: block !important;
  height: 480px;
  overflow: auto;
}

.load-more {
  text-align: center;
}
